* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
header {
  background-color: rgb(71, 71, 71);
  height: 80px;
  border: 0.1px solid rgba(0, 0, 0, 0.158);
  position: fixed;
  width: 100vw;
}
.logo {
  margin: 23px 0px 0px 80px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_1 ul {
  display: flex;
}
.nav_1_1 {
}
.nav_1_1 ul li {
  font-size: 1.5rem;
  margin: 18px 80px 0px 0px;
}
.nav_2 {
  background-color: rgb(71, 71, 71);
  text-align: center;
  display: none;
  margin: 21px 0px 0px 0px;
}
.nav_2 ul li {
  margin: 10px 0px 0px 0px;
  font-size: 1.7rem;
}
.buregr_icon {
  width: 100px;
  height: 50px;
  display: none;
  margin: 10px 0px 0px 0px;
}
.menu_line {
  background-color: white;
  width: 50px;
  height: 5px;
  margin: 10px 0px 0px 0px;
  border-radius: 20px;
}
.vvv {
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 4px rgb(255, 255, 255);
  font-weight: 900;
}
/* ==================================================header  */
main {
  background-color: rgb(160, 160, 160);
  padding: 100px 20px 40px 20px;
}
.main {
  /* height: 100vh; */
}
.main_p {
  font-size: 1.7rem;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.568);
}
.hr {
  display: none;
}

/* ==================================================main  */
@media screen and (max-width: 912px) {
  .nav_1 {
    display: none;
  }
  .nav_2 {
    /* display: block; */
    background-color: rgb(88, 88, 88);
  }
  .buregr_icon {
    display: block;
  }
  .nav_2_show {
    display: block;
  }
}
